@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --soft-red: hsl(7, 99%, 70%);
--Yellow: hsl(51, 100%, 49%);
--graphic-design-text: #25564b;;
--photography-text: hsl(198, 62%, 26%);
--footer: hsl(168, 34%, 41%);

/* ### Neutral */

--Very-dark-desaturated-blue: hsl(212, 27%, 19%);
--Very-dark-grayish-blue: hsl(213, 9%, 39%);
--Dark-grayish-blue: hsl(232, 10%, 55%);
--Grayish-blue: hsl(210, 4%, 67%);
--White: hsl(0, 0%, 100%);

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
p{
  line-height: 1.6;
  font-size: 18px;
  color:var(--Very-dark-desaturated-blue) ;

}
ul{
  list-style: none;
}
h1,h2,h3,h4,h5,h6{
  font-family:"fraunces", sans-serif;
  color:var(--Very-dark-desaturated-blue) ;

}

body {
  
  font-family:"Barlow",sans-serif;
}
/* Buttons */
.btn-transfrom{
  border-bottom: 6px solid var(--Yellow);
  color: var(--Very-dark-desaturated-blue);
  text-transform: uppercase;
  font-family: "Fraunces" sans-serif;
}
.btn-standout{
  border-bottom: 6px solid var(--soft-red);
  color: var(--Very-dark-desaturated-blue);
  text-transform: uppercase;
  font-family: "Fraunces" sans-serif;

}
/* Showcase */
.showcase{
  background: url("./images/mobile/image-header.jpg") no-repeat center/cover;
  height: 512px;
}
.showcase .overlay{
  height: 512px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;

}
.testimonials-header{
   color: var(--Very-dark-grayish-blue);
}

/* footer */
.footer{
  background-color:hsl(168, 34%, 41%) ;

}
.footer ul li{
  color: var(--graphic-design-text);

}

@media(min-width:768px){

  .showcase{
    background: url("./images/dekstop/image-header.jpg") no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100vh;
  }
}


